SERVER_ENV=dev
SERVER_PORT=8080

DATABASE_NAME=movie_fest

MASTER_DATABASE_HOST=127.0.0.1
MASTER_DATABASE_PORT=8889
MASTER_DATABASE_USERNAME=root
MASTER_DATABASE_PASSWORD=root

SLAVE_DATABASE_HOST=127.0.0.1
SLAVE_DATABASE_PORT=8889
SLAVE_DATABASE_USERNAME=root
SLAVE_DATABASE_PASSWORD=root